    html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;

}
    .about-container {
      display: flex;
      justify-content: center;
      padding: 40px 20px;
    }

    .about-box {
      background-color:white;
      border: 8px solid #fcab31;
      border-radius: 20px;
      max-width: 600px;
      width: 100%;
      padding: 30px;
      box-sizing: border-box;
      text-align: center;
      flex-direction: column;
      gap: 10px;
    }

    .about-box h2.rubrik {
      font-size: 60px;
      color: #ff99c8;
      margin-bottom: 20px;
      margin-top: 0;
    }

    .under-text p {
      line-height: 1.4;
      font-size: 14px;
    }

    .about-text h2, 
    .about-text p,
    .about-text h3 {
      margin: 10px 0;
    }

    /* Footer */
footer {
    padding: 1,5rem;
    background-color: var(--peach);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#foot-sec2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}